
<span>Enter integer one - </span>
<input type="number" [(ngModel)]="firstNumber">


<span>Enter integer one - </span>
<input type="number" [(ngModel)]="secondNumber">

<br/>
<my-calculator-lib [integerOne]="firstNumber" [integerTwo]="secondNumber" 
            (additionEvent)="additionFuncalled($event)" 
            (substractionEvent)="subsFuncalled($event)"
            (multiplicationEvent)="multiplicationFuncalled($event)">  
</my-calculator-lib>
<br/>
<div>
    <h3>Result - {{result}}</h3>
</div>