
<mat-toolbar>
      <span>{{title}}</span>
</mat-toolbar>
<span>Enter integer one - </span>
<input type="number" [(ngModel)]="firstNumber">


<span>Enter integer one - </span>
<input type="number" [(ngModel)]="secondNumber">

<br/>
<my-calculator-lib [integerOne]="firstNumber" [integerTwo]="secondNumber" 
            (additionEvent)="additionFuncalled($event)" 
            (substractionEvent)="subsFuncalled($event)"
            (multiplicationEvent)="multiplicationFuncalled($event)"
            (divisionEvent)="divisionFuncalled($event)">  
</my-calculator-lib>
<br/>
<div>
    <h3>Result - {{result | number : '1.2-2'}}</h3>
</div>